
<div  id="sidebar-wrapper" class="container-fluid">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
            class="fas fa-user-secret me-2"></i><h2>Tours and Travels</h2></div>
   
    <div class="list-group-item list-group-item-action bg-transparent second-text fw-bold border-bottom">
        <a routerLink="/user" routerLinkActive="active"><h3>Users</h3></a>
    </div>
    <div class="list-group-item list-group-item-action bg-transparent second-text fw-bold border-bottom">
        <a routerLink="/" routerLinkActive="active"><h3>Tours</h3></a>
    </div>
    <div class="list-group-item list-group-item-action bg-transparent second-text fw-bold border-bottom">
        <a routerLink="/" routerLinkActive="active"><h3>Bookings</h3></a>
    </div>
    <div class="list-group-item list-group-item-action bg-transparent second-text fw-bold border-bottom">
        <a routerLink="/" routerLinkActive="active"><h3>Ratings</h3></a>
    </div>
</div>
   


